.pro3{
    width: 1200px;
    height: 200px;
    background: #000;
}

.pro3 ul{
    height: 50px;
    margin:  0px 250px;
    padding: 50px 50px;
    
}

.cir-out img{
    height:80px;
    width: 80px;
}
.cir-out{
    position: relative;
    margin-left: 23px;
    height: 120px;
    width: 120px;
    float: left;
    background: red;
    top: -30px;
    border-radius: 50%;
    transition: 0.5s ease-out;
    cursor: pointer;
    transform:rotate(-30deg)
}

.cir-in {
    line-height: 80px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    height:80px;
    width: 80px;
    border-radius: 50%;
    top:20px;
    left:20px;
}

.cir-out:hover{
    background: rgba(255, 255, 255, 0);
}

.cir-out:hover .cir-in img{ 
   transform: scale(1.1) 
}

.cir-click{
    background: rgba(255, 255, 255, 0);
    transform: scale(1.1) rotate(0deg)
}
