.pro4{
    width: 1200px;
    height: 520px;
    background: #000;
    overflow: hidden;
}

.photo_last{
    border-left: 0px solid #000 !important;
}

.pro4 ul li{
    width: 141px;
    height: 500px;
    float: left;
    overflow: hidden;
    border-left:  3px solid #000;
    
}

.pro4 ul li img{
    width: 100%;
    height: 100%;
    cursor:pointer;
    transition:0.1s;
    opacity: 0.5;
}

.pro4 ul li img:hover{
    opacity: 1
}